@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<FitnessClassServiceModel>;
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "My booked fitness classes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var fitnessClass in Model)
    {
        <partial name="_FitnessClassPartial" model="@fitnessClass" />
    }
</div>