@using Microsoft.AspNetCore.Mvc.Localization
@model MyClassesInstructorViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"];
}

<h2 class="text-center mb-4">@Localizer["My Classes"]</h2>
<hr />

<h3 class="text-center">Thank you for choosing our class booking system!</h3>
<p class="text-center">You are currently teaching <strong>@Model.TotalClassesCount</strong> classes.</p>
<p class="text-center">Here is your current rating: <strong>@Model.Rating</strong>.</p>

<div class="row justify-content-center">
    @foreach (var fitnessClass in Model.Classes)
    {
        <partial name="_FitnessClassInstructorPartial" model="@fitnessClass" />
    }
</div>
