@using Microsoft.AspNetCore.Mvc.Localization
@model MyClassesInstructorViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h2>Thank you for choosing our class booking system!</h2>
<h3>You are currently teaching @Model.TotalClassesCount class.</h3>
<h4>Here is your current rating: @Model.Rating.</h4>

<div class="row">
    @foreach (var fitnessClass in Model.Classes)
    {
        <partial name="_FitnessClassInstructorPartial" model="@fitnessClass" />
    }
</div>

