@model ReviewViewModel

<div class="row">
    <div class="col-md-6">
        <h4>Comment</h4>
        <p>@Model.Comments</p>
    </div>
    <div class="col-md-2">
        <h4>Rating</h4>
        <p>@Model.Rating</p>
    </div>
    <div class="col-md-4">
        <h4>Author</h4>
        <p>@Model.ReviewerName</p>
    </div>
</div>