@model ReviewViewModel

<div class="row my-4">
    <div class="col-md-6">
        <h4 class="text-success">Comment</h4>
        <p class="border p-3 bg-light rounded">@Model.Comments</p>
    </div>

    <div class="col-md-2">
        <h4 class="text-warning">Rating</h4>
        <p class="border p-3 bg-light rounded"><strong>@Model.Rating</strong> / 5</p>
    </div>

    <div class="col-md-4">
        <h4 class="text-primary">Author</h4>
        <p class="font-weight-bold">@Model.ReviewerName</p>
    </div>
</div>
