@model BecomeInstructorFormModel

@{
    ViewBag.Title = "Become Instructor";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" asp-action="Become" asp-controller="Instructor">
            <div class="form-group">
                <label asp-for="LicenseNumber" class="font-weight-bold">License Number</label>
                <input asp-for="LicenseNumber" class="form-control" placeholder="000000">
                <span asp-validation-for="LicenseNumber" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Biography" class="font-weight-bold">Biography</label>
                <textarea asp-for="Biography" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Biography" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specializations" class="font-weight-bold">Specializations</label>
                <textarea asp-for="Specializations" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Specializations" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-outline-success mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
