@model InstructorEditSpecializationsFormModel

@{
    ViewData["Title"] = "Edit Specializations";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="EditSpecializations" asp-controller="Instructor">
    <div class="form-group">
        <textarea id="Specializations" name="Specializations" class="form-control" required rows="5">@Model.Specializations</textarea>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-warning btn-lg" asp-action="EditSpecializations" asp-controller="Instructor" asp-route-instructorId="@Model.Id">Save</button>
        <a href="@Url.Action("Index", "Home")" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
