@model FitnessClassServiceModel
@inject IFitnessClassService fitnessClassService
@inject IInstructorService instructorService

<div class="col-md-4">
    <div class="card mb-3">
        <h3>@Model.Title</h3>
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Capacity: <b>@Model.Capacity</b></h6>
            <br />
            <form class="input-group-sm" asp-controller="FitnessClass"
                  asp-area="Admin" asp-action="Approve" asp-route-fitnessClassId="@Model.Id" method="post">
                <input class="btn btn-success" type="submit" value="Approve" />
            </form>
        </div>
    </div>
</div>
